<%= form_with model: @advertisement, local: true do |form| %>

<% if @advertisement.errors.any? %>
  <div class="alert alert-warning" role="alert" >
    <%= pluralize(@advertisement.errors.count, "error") %> stopped this article from being saved:
    <ul>
      <% @advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.label :height %><br />
        <%= form.number_field :height, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.label :width %><br />
        <%= form.number_field :width, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.label :status %><br />
        <%= form.text_field :status, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :instructions %><br />
    <%= form.text_area :instructions, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :issue_id %><br />
    <%= form.collection_select(:issue_id, Issue.all, :id, :pub_date) %>
  </div>
  <div class="form-group">
    <%= form.label :client %><br />
    <%= form.collection_select(:client_id, Client.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= form.label :position %><br />
    <%= form.collection_select(:position, Position.all, :id, :name) %>
  </div>
  <%= form.label :price %><br />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= form.text_field :price, class: "form-control" %>
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
