<div class="container">
  <h4>Viewing ad #<%= @advertisement.id %></h4>
  <p>
    <%= "#{@advertisement.height}x#{@advertisement.width}" %>
    <%= @client.name %>
    <%= @position.name %>
  </p>
  <p>
    <%= @advertisement.status %>
  </p>
  <p>
    <%= number_to_currency(@advertisement.price) %>
  </p>
  <p>
    <%= @advertisement.instructions %>
  </p>
  <%= link_to 'Delete', advertisement_path(@advertisement), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', advertisements_path %>
</div>
